language: java 
jdk:
- openjdk8
addons:
  sonarcloud:
    organization: "metallord97"
    token:
      secure: 29561244808f1c6b632f1dcd859723530ba13a3a # encrypted value of your token

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - ant build
  - sonar-scanner